<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr>
    <div class="mb-3">
        <label class="d-flex flex-md-fill">I'm a :</label>
        <label class="form-check-label me-2">
            <input type="radio" class="form-check-input" value="male" formControlName="gender"> Male
        </label>
        <label class="form-check-label">
            <input type="radio" class="form-check-input" value="female" formControlName="gender"> Female
        </label>
    </div>
    <app-text-input
        [formControl]="$any(registerForm.controls['username'])"
        [label]="'Username'"
        [type]="'text'"
    >
    </app-text-input>
    <app-text-input
        [formControl]="$any(registerForm.controls['knownAs'])"
        [label]="'Known as'"
        [type]="'text'"
    >
    </app-text-input>
    <app-date-picker
        [formControl]="$any(registerForm.controls['dateOfBirth'])"
        [label]="'Date of birth'"
        [maxDate]="maxDate"
    >
    </app-date-picker>
    <app-text-input
        [formControl]="$any(registerForm.controls['city'])"
        [label]="'City'"
        [type]="'text'"
    >
    </app-text-input>
    <app-text-input
        [formControl]="$any(registerForm.controls['country'])"
        [label]="'Country'"
        [type]="'text'"
    >
    </app-text-input>
    <app-text-input
        [formControl]="$any(registerForm.controls['password'])"
        [label]="'Password'"
        [type]="'password'"
    >
    </app-text-input>
    <div
        *ngIf="registerForm.controls['password'].value && registerForm.controls['password'].valid"
        @fadeIn
    >
        <app-text-input
        [formControl]="$any(registerForm.controls['confirmPassword'])"
        [label]="'Confirm Password'"
        [type]="'password'"
        >
        </app-text-input>
    </div>

    @if (validationErrors){
        <div class="alert alert-danger text-start">
            <ul>
                @for (errors of validationErrors ; track $index) {
                    <li class="text-danger">{{errors}}</li>
                }
            </ul>
        </div>
    }
    <div class="form-group text-center">
        <button
            type="submit"
            (click)="register()"
            [disabled]="!registerForm.valid"
            class="btn btn-success me-2">
            Register
        </button>
        <button
            type="button"
            (click)="cancel()"
            class="btn btn-danger">
            Cancel
        </button>
    </div>
</form>>
<p>Form value: {{registerForm.value | json}}</p>
<p>Form status: {{registerForm["status"] | json}}</p>
